[include mainsail.cfg]

#[include input_shaper.cfg]
[input_shaper]
shaper_type_x = 2hump_ei
shaper_freq_x = 68.4
shaper_type_y = ei
shaper_freq_y = 83.8
# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: -3
y_offset: 42
#z_offset: 3.0
#speed:

#[safe_z_home]
#home_xy_position: 115,115 # Change coordinates to the center of your print bed
#speed: 50
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 3, 54
mesh_max: 217, 310
probe_count: 5,5
adaptive_margin: 5

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -3
position_endstop: -3
homing_retract_dist: 0
position_max: 217
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.80
#stealthchop_threshold: 999999
diag_pin: ^PC0
driver_SGTHRS: 107 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -54
position_endstop: -54
homing_retract_dist: 0
position_max: 283
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.80
stealthchop_threshold: 999999
diag_pin: ^PC1
driver_SGTHRS: 117 # 255 is most sensitive value, 0 is least sensitive

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 125
position_min: -0.5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.71052
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.80
#hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[heater_fan controller_fan]
#pin: PB15
#heater: heater_bed
#heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4A00380012504D5930363820-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[homing_override]
set_position_z: 0
axes: xyz
gcode:
    {% set home_x = ('X' in params|default({})) %}
    {% set home_y = ('Y' in params|default({})) %}
    {% set home_z = ('Z' in params|default({})) %}
    {% set home_all = (not (home_x or home_y or home_z)) %}

    {% if home_all %}
        SENSORLESS_HOME_X
        SENSORLESS_HOME_Y
        BLTOUCH_HOME_Z
    {% else %}
        {% if home_x %}
            SENSORLESS_HOME_X
        {% endif %}
        {% if home_y %}
            SENSORLESS_HOME_Y
        {% endif %}
        {% if home_z %}
            BLTOUCH_HOME_Z
        {% endif %}
    {% endif %}

    
[gcode_macro SENSORLESS_HOME_X]
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X0
    G90
    G1 X115 F1500

    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[gcode_macro SENSORLESS_HOME_Y]
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 Y0
    # Move away
    G90
    G1 Y115 F1500
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}

[gcode_macro BLTOUCH_HOME_Z]
gcode:
    G28 Z0
    G90
    G1 Z25 F1500
  

[gcode_macro START_PRINT]
description: Start print with homing, heating, and nozzle purge line
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

    # Set temps
    M140 S{BED_TEMP}  ; start heating bed
    M104 S{EXTRUDER_TEMP}             ; start heating nozzle
    

    # Home all axes
    G28

    # Create bed mesh for just the model area
    #BED_MESH_CLEAR
    #BED_MESH_CALIBRATE
    # Move up to prevent scratching
    G1 Z5 F6000
    M109 S{EXTRUDER_TEMP}             ; wait for nozzle

    G1 X3 Y-30 F6000          ; move off the front of the bed
    G1 E3 F300             ; slow controlled pre-extrusion
    G1 E6 F600             ; build pressure a bit faster
    # Prime line
    G92 E0                           ; reset extruder
    G1 Z0.3 F600                     ; move close to bed
    G1 Y-20 F1000                 ; draw first line
    G1 Y20 E10 F1000              ; draw second line
    G1 Z1 F600                       ; lift nozzle
    G92 E0                           ; reset again

    # Optional wipe move
    G1 Y150 F6000                    ; quick wipe move
    G1 Z5 F600

    # Ready to print
    G90
    M117 Printing...

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park position for x and y #####
  # default is your max position from your printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = -20 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 10.927
#*# pid_ki = 0.447
#*# pid_kd = 66.791
#*#
#*# [bltouch]
#*# z_offset = 0.592
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.122500, 0.060000, 0.032500, -0.042500, 0.047500
#*# 	  0.140000, 0.122500, 0.042500, -0.017500, 0.000000
#*# 	  0.140000, 0.100000, 0.067500, -0.002500, 0.022500
#*# 	  0.040000, 0.025000, -0.002500, -0.057500, -0.027500
#*# 	  -0.035000, 0.012500, -0.025000, -0.097500, -0.070000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 3.0
#*# max_x = 217.0
#*# min_y = 54.0
#*# max_y = 310.0
